<?xml version="1.0"?>
<config>
    <modules>
        <Lendingworks_Finance>
            <version>1.0.0</version>
        </Lendingworks_Finance>
    </modules>
    <global>
        <models>
            <lendingworks_finance>
                <class>Lendingworks_Finance_Model</class>
                <resourceModel>lendingworks_finance_resource</resourceModel>
            </lendingworks_finance>
            <lendingworks_finance_resource>
                <class>Lendingworks_Finance_Model_Resource</class>
            </lendingworks_finance_resource>
        </models>
        <resources>
            <lendingworks_finance_setup>
                <setup>
                    <module>Lendingworks_Finance</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lendingworks_finance_setup>
            <lendingworks_finance_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lendingworks_finance_read>
            <lendingworks_finance_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lendingworks_finance_write>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <lendingworks_order_id>
                    <to_order>*</to_order>
                </lendingworks_order_id>
                <lendingworks_order_status>
                    <to_order>*</to_order>
                </lendingworks_order_status>
                <lendingworks_order_fulfilment_status>
                    <to_order>*</to_order>
                </lendingworks_order_fulfilment_status>
            </sales_convert_quote>
        </fieldsets>
        <events>
            <sales_convert_quote_to_order>
                <observers>
                    <lendingworks_finance>
                        <type>model</type>
                        <class>lendingworks_finance/observer</class>
                        <method>setLWDataOnOrder</method>
                    </lendingworks_finance>
                </observers>
            </sales_convert_quote_to_order>
        </events>
        <helpers>
            <lendingworks_finance>
                <class>Lendingworks_Finance_Helper</class>
            </lendingworks_finance>
        </helpers>
        <blocks>
            <lendingworks_finance>
                <class>Lendingworks_Finance_Block</class>
            </lendingworks_finance>
        </blocks>
    </global>

    <frontend>
        <routers>
            <finance>
                <use>standard</use>
                <args>
                    <module>Lendingworks_Finance</module>
                    <frontName>lwapi</frontName>
                </args>
            </finance>
        </routers>
        <layout>
            <updates>
                <finance>
                    <file>lwfinance.xml</file>
                </finance>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <finance>
                    <file>lwfinance.xml</file>
                </finance>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lendingworks_finance>
                                            <title>LW connect</title>
                                        </lendingworks_finance>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <payment>
            <lwfinance>
                <model>lendingworks_finance/lwpay</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Lending Works Retail Finance</title>
                <payment_action>authorize_capture</payment_action>
                <min_order_total>50.00</min_order_total>
                <max_order_total>25000.00</max_order_total>
                <sort_order>100</sort_order>
            </lwfinance>
        </payment>
    </default>
</config>